<footer id="footerBody" class="new_footer_area bg_color">
    <img id="logo" src="../assets/lofo fi.jpg" alt="logo" width="25%">
    <div id="moto">
        <p>Made by Developers, for Developers.....</p>      
    </div>
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18" style="color: #6754e2;">Sign up and Save</h3>
                        <p>Don’t miss any updates of our new products and accessories.!</p>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                            <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18" style="color: #6754e2; padding-left: 65px;">Shop</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="" style="padding-left: 65px;">Home</a></li>
                            <li><a routerLink="sweat-shirt" style="padding-left: 65px;">Sweatshirts</a></li>
                            <li><a routerLink="face-masks" style="padding-left: 65px;">Face Mask</a></li>
                            <li><a routerLink="tshirts" style="padding-left: 65px;">T-Shirts</a></li>
                            <li><a routerLink="hoodies" style="padding-left: 65px;">Hoodies</a></li>
                            <!-- <li><a routerLink="" style="padding-left: 65px;">Top Picks</a></li> -->
                            <li><a routerLink="mugs" style="padding-left: 65px;">Mugs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18" style="color: #6754e2;">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a routerLink="">FAQ</a></li>
                            <li><a routerLink="">Term &amp; conditions</a></li>
                            <li><a routerLink="contact">Contact</a></li>
                            <li><a routerLink="">Privacy</a></li>
                            <li><a routerLink="">Support Policy</a></li>
                            <li><a routerLink="about">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    
                    <p class="mb-0 f_400" > &#xa9; thedeveloperzshop.. 2022 All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                    
                    <p style="padding-left: 66%;">Made with <i class="icon_heart"></i> in <a href="http://developerz.com" target="_blank" style="color:#6754e2 ; font-weight: 550;">The Developerz Shop</a></p>
                </div>
            </div>
        </div>
    </div>
    <section id="lab_social_icon_footer">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
                <div class="text-center center-block">
                        <a href="https://developer-shop.com/" target="blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://www.instagram.com/?hl=en"><i id="social-ins" class="fa fa-instagram fa-3x social" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
        </section>
</footer>

  
