<div class="image-aboutus-banner" style="position: relative">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="lg-text">About Us</h1>
        <br />
        <p class="image-aboutus-para">
          Find out more about the company, our values and what we stand for.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="description">
  <p id="descripton para">
    Hello and welcome to The Developer Shop, the place to find the best Clothing
    and Accessories for every taste and occasion. We thoroughly check the
    quality of our goods, working only with reliable suppliers so that you only
    receive the best quality product. <br /><br />
    We at The Developer Shop believe in high quality and exceptional customer
    service. But most importantly, we believe shopping is a right, not a luxury,
    so we strive to deliver the best products at the most affordable prices, and
    ship them to you regardless of where you are located.
  </p>
</div>

<div class="image-section" style="position: relative;">
  <img
    src="https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    alt=""
    width="100%"
  />
  <div id="our-team">
    <h5>Get to know</h5>
    <h1 style="color: #5e2ced;">Our Team</h1>
    <p>
      We are a motivated, friendly and passionate team who drive our business
      forward every single day to make our customers happy. Whether it’s through
      the latest product research and bringing them to market for you or it’s
      just having a chat and helping you out. We are dedicated to you.
    </p>
  </div>
</div>
