<!-- <ul>
    <li *ngFor="let cartItem of cart.items">
        <div>
            <img [src]="cartItem.tshirt.imageUrl2" [alt]="cartItem.tshirt.name">
        </div>
        <div>
            <a routerLink="/tshirt/{{cartItem.tshirt.id}}">
                {{cartItem.tshirt.name}}
            </a>
        </div>
        <div>
            <select #quantitySelect  (change)="changeQuantity(cartItem, quantitySelect.value)"  >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div>
            {{cartItem.price}}
        </div>

    </li>
</ul> -->



<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted" style="margin-left: 50%;">No of Items- {{cart.items.length}}</div>
                </div>
            </div>
            <div class="row border-top border-bottom" *ngFor="let cartItem of cart.items">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="{{cartItem.tshirt.imageUrl2}}" width="100%"></div>
                    <div class="col">
                        <div class="row text-muted">Trends</div>
                        <div class="row">{{cartItem.tshirt.name}}</div>
                    </div>
                    <div class="col" style="margin-top: 30px;"><select #quantitySelect  (change)="changeQuantity(cartItem, quantitySelect.value)" style="width: 40%; height: 45px; border-radius: 5px; border-color: #6754e2;" >
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select></div>
                    <div class="col" style=" color: black; font-weight: 550; font-size: 1.5em;">&#8377; {{cartItem.price}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button (click)="removeFromCart(cartItem)" class="remove-button" style="width: 40px; margin-left: 12%; "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg></button></div>
                </div>
            </div>
           
            <div class="back-to-shop"><a routerLink=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg> Back to Shop</a></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;"> Items- {{cart.items.length}}</div>
                <div class="col text-right"></div>
            </div>
            <form>
                <p>SHIPPING</p> <select>
                    <option class="text-muted">Standard- Shipment & Delivery-&#8377; 50 /product</option>
                </select>
                <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE =</div>
                <div class="col text-right">&#8377; {{cart.totalPrice}}</div>
            </div> <button routerLink="/checkout" class="btn" >CHECKOUT</button>
        </div>
    </div>
</div>