
.title {
    margin-bottom: 5vh
}

.card {
    margin: auto;
    max-width: 1550px;
    width: 100%;
    box-shadow: 0 6px 20px 0 #6754e2;
  
    border: transparent
}

@media(max-width:767px) {
    .card {
        margin: 3vh auto
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}

.summary {
    background-color: #6754e2;
    padding: 4vh;
    font-weight: 550;
    color: rgb(0, 0, 0)
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

.summary .col-2 {
    padding: 0
}

.summary .col-10 {
    padding: 0
}

.row {
    margin: 0
}

.title b {
    font-size: 1.5rem
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.col-2,
.col {
    padding: 0 1vh
}

a {
    padding: 0 1vh
}

.close {
    margin-left: auto;
    font-size: 0.7rem
}

img {
    height: 150px;
    width: 120rem;
}

.back-to-shop {
    margin-top: 4.5rem
}

h5 {
    margin-top: 4vh
}

hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 50%;
    font-size: 1.1rem;
    margin-top: 9.5vh;
    margin-left: 120px;
    padding: 1vh;
    border-radius: 5px;
    font-weight: 550;
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    background-color: rgb(255, 250, 250);
    transform: scale(1.01);
    transition: all 0.3s ease-in;
    color: #6754e2;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    
}

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}
.back-to-shop{
    color: rgb(255, 250, 250);
    font-weight: 550;
    background-color: #6754e2;
    height: 35px;
    width: 140px;
    border-radius: 5px;
    padding: 3px;
}
.back-to-shop:hover{
    border: 1px solid #6754e2;
    background-color: transparent;
    color: #6754e2;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.remove-button:hover{
    background-color: #6754e2;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}