<!-- <div class="container">
    <img src="{{sticker.imageUrl}}" alt="sticker.name">
</div>
<div class="details">
    <div class="header">
        <span class="name">{{sticker.name}}</span>
    </div>
</div> -->

  <!-- single product details -->
  <div class="back-to-shop" style="color: rgb(0, 0, 0);"><a routerLink="/sticker"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg> Back to Shop</a></div>
  <div class="small-container single-product">
    <div class="row">
      <div class="col-2">
        <img src="{{sticker.imageUrl1}}" alt="" width="100%" id="ProductImg" />
  
        <div class="small-img-row">
          <div class="small-img-col">
            <img src="{{sticker.imageUrl2}}" alt="" width="100%" class="small-img" />
          </div>
          <div class="small-img-col">
            <img src="{{sticker.imageUrl2}}" alt="" width="100%" class="small-img" />
          </div>
          <div class="small-img-col">
            <img src="{{sticker.imageUrl2}}" alt="" width="100%" class="small-img" />
          </div>
          <div class="small-img-col">
            <img src="{{sticker.imageUrl2}}" alt="" width="100%" class="small-img" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <h1>{{sticker.name}} by developerzShop</h1>
        <h4>&#8377; {{sticker.price}}.00</h4>
        <!-- <input type="number" value="1" /> -->
        <button class="btn" (click)="addToCart()">Add To Cart <i class="fa fa-shopping-cart"></i></button>
  
        <h3>Product Details <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm.5 5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1 0-1zM4 8.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm2 3a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
        </svg></h3>
        <br />
        <p>
          Our Sticker collections are everything you've dreamed of and more. It feels soft and lightweight,
           with the right amount of stretch. It's comfortable and flattering.
        </p>
      </div>
    </div>
  </div>
  
  <!-- title -->
  <div class="small-container">
    <div class="row row-2">
      <h2>Related Products</h2>
      <p>View more</p>
    </div>
  </div>
  
  <!-- products -->
  
  <div class="small-container">
    <div class="row">
      <div class="col-4">
        <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-black-6003f71598fb4_1800x1800.jpg?v=1617046983" alt="" />
        <h4>Python Hoodie</h4>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>{{sticker.buys}}
        <p>₹899.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/all-over-print-premium-face-mask-black-6004492b03120_540x.jpg?v=1610893616" alt="" />
        <h4>Typsescript Mask</h4>
      <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>{{sticker.buys}}
                    <p>₹199.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/champion-backpack-heather-black-black-front-6012c0d0d15e8_1800x1800.jpg?v=1611841783" alt="" />
        <h4>Developer Back-Pack</h4>
        <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>{{sticker.buys}}
        <p>₹1299.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/white-glossy-mug-11oz-office-environment-6013154525bf2_1800x1800.jpg?v=1611863913" alt="" />
        <h4>Machine Mug</h4>
        <p class="rating" >
            <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>{{sticker.buys}}
        <p>₹599.00</p>
      </div>
    </div>

