/*body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  min-height: 45rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: whitesmoke;
}*/
.container {
    width:100%;
    /* height: 620px; */
    max-width: 1680px;
    margin-left: -15px -15px;
    background-color: #000000;
   
  }
  /* Basic appearance stuff ends here */
  
  /* Parallax Horizontal Scroller - by Bree Dulmage, 2020 */
  #proparallax {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 40rem;
    
    box-shadow: 0px 8px 10px 8px #6754e2;
  }  
  
  #proparallax img {
    position: absolute;
    width: 100%;
    height: 40rem;
    overflow: hidden;
    object-fit: cover;
  }
  
  @keyframes parallax_one { /* controls img.one movement */
    0% { /* .imageloaded */
      height: 40rem;
      width: 100%;
      left: 0rem;
      opacity: 1;
    }
    /* .imagehold runs from 0 to 27.77% */
    27.77% { /* .imageloaded */
      width: 100%;
      left: 0rem;
    }
    27.78% { /* .imagepreunload */
      width: 100%;
      left: 0rem;
      right: 100%;
    }
    33.33% { /* .imageunloaded */
      height: 40rem;
      width: 0rem;
      left: 0rem;
      right: 0rem;
      opacity: 1;
    }
    33.34% { /* imageoff */
      opacity: 0;  
    }
    94.43% { /* .imageon */
      left: 0rem;
      opacity: 0;
    }
    94.44% { /* .imageinitial */
      height: 40rem;
      width: 0rem;
      left: 100%;
      opacity: 1;
    }
    100% { /* .imageloaded */
      width: 100%;
      left: 0rem;
      opacity: 1;    
    }
  }
  
  @keyframes parallax_two { /* controls img.two movement */
    0% { /* .imageoff */
      opacity: 0;
    }
    27.77% { /* .imageon */
      left: 0rem;
      opacity: 0;
    }
    27.78% { /* .imageinitial */
      width: 0rem;
      height: 40rem;
      left: 100%;
      opacity: 1;
    }
    33.33% { /* .imageloaded */
      width: 100%;
      left: 0rem;
    }
    /* .imagehold runs from 33.34% - 61.10% */
    61.10%{ /* .imageloaded */
      width: 100%;
      left: 0rem;
    }
    61.11% { /* .imagepreunload */
      width: 100%;
      left: 0rem;
      right: 100%;
    }
    66.67% { /* .imageunloaded */
      width: 0rem;
      right: 0rem;
      left: 0rem;
      height: 40rem;
      opacity: 1;
    }
    66.68% { /* .imageoff */
      opacity: 0;
    }
    100% { /* .imageoff */
      opacity: 0;
    }
  }
  
  @keyframes parallax_three { /* controls img.three movement */
    0% { /* .imageoff */
      opacity: 0;
    }
    61.10%{ /* .imageon */
      opacity: 0;
    }
    61.11% { /* .imageinitial */
      width: 0rem;
      height: 40rem;
      left: 100%;
      opacity: 1;    
    }
    66.67% { /* .imageloaded */
      width: 100%;
      left: 0rem;
    }
    /* .imagehold runs from 66.67% - 94.43% */
    94.43% { /* .imageloaded */
      width: 100%;
      left: 0rem;
    }
    94.44% { /* .imagepreunload */
      width: 100%;
      left: 0rem;
      right: 100%;
    }
    100% { /* imageunloaded */
      width: 0rem;
      right: 0rem;
      left: 0rem;
      height: 40rem;
      opacity: 1;
    }
  }
  
  #proparallax img.one{
    animation-name: parallax_one; /* controls img.one movement */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 11s;
    animation-direction: forwards;
    object-fit: cover;
  }
  
  #proparallax img.two {
    animation-name: parallax_two; /* controls img.two movement */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 11s;
    animation-direction: forwards;
    object-fit: cover;
  }
  
  #proparallax img.three {
    animation-name: parallax_three; /* controls img.three movement */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 11s;
    animation-direction: forwards;
    object-fit: cover;
  }
  .demo{
    border:1px solid black;
    width:300px;
    height:300px;
  }
















.product-grid{
   margin-top: 30px;
   margin-bottom: 10px;
    width: 100%;
    /* margin: 35px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-grid .product-image a.image{display: block; }
.product-grid .product-image img{
    width: 96%;
    height: 340px;
}
.product-grid .product-discount-label{
    color: #fff;
    background: #6754e2;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 15px;
    position: absolute;
    top: 10px;
    left: 0;
    
}.fa-star{
  color:gray;
  }
  
.checked {
  color: orange;
  }
  
.rating{
  color:rgba(1,1,1,0.5);
  }
.product-grid .product-links{
  color: #6754e2;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all .5s ease 0s;
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid .product-links li a{
    color: #6754e2;
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border: 1px solid #6754e2;
    border-bottom: none;
    display: block;
    transition: all 0.5s ease-in-out 0s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #6754e2; }
.product-grid .product-links li a:hover{
    color: rgb(252, 25, 25);
    background: #000000;
}
.product-grid .add-to-cart{
  
    background: #6754e2;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.5s ease-in-out 0s;
}
.product-grid:hover .add-to-cart{ bottom: 0;}

.product-grid .add-to-cart:hover{ 
  background-color: black;
  /* color: #5038f0; */
  transition: all 0.5s;
 }

.product-grid .product-content{
    background: #fff;
    padding: 9px;
    box-shadow: 0 0 0 5px #6f67a78f inset;
    
}
.product-grid .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.product-grid .title a{
    color: #6754e2;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #6754e2; }
.product-grid .price{
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 600;
}
.product-grid .price span{
    color: #888;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
}
