<!-- Main Section -->
<section id="main-section">
  <!-- Moto-Animation -->
  <div id="animi">
    <p id="moto_an">&lt;/&gt;Made by developers, for developers..</p>
  </div>

  <!-- Slide-Show Animation -->
  <div class="wrapper">
    <div
      style="
        border-radius: 5px;
        background-image: url(https://images.unsplash.com/photo-1562813733-b31f71025d54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
      "
    ></div>
    <div
      style="
        border-radius: 5px;
        background-image: url(https://images.unsplash.com/photo-1522199755839-a2bacb67c546?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
      "
    ></div>
    <div
      style="
        border-radius: 5px;
        background-image: url(https://images.unsplash.com/photo-1585365341416-307e4fa22402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
      "
    ></div>
    <div
      style="
        border-radius: 5px;
        background-image: url(https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
      "
    ></div>
    <div
      style="
        border-radius: 5px;
        background-image: url(https://cdn.shopify.com/s/files/1/0528/4148/0360/files/hero-desktop_ajgyfk_1944x.jpg?v=1617646465);
      "
    ></div>
  </div>
  <!-- Slide-Show Ends -->

  <!-- Message -->
  <div id="message-division">
    <h2 id="message" style="word-break: normal; word-spacing: 2px; letter-spacing: 1px;">
      If you are a programmer, coder, software developer, or simply a tech
      enthusiast, then you're on the right place! We offer tech designs and
      humour in clothing and accessories to make<h2 style="padding-left: 360px;color: #6754e2; ">your working day special!</h2>
	</h2>
  </div>

<!-- Product Slider -->
<div class='demo-container'>
  <h5 id="most-popular">MOST POPULAR</h5>
  <h3 id="popular-sweatshirts">Popular Sweatshirts</h3>
  <div class='carousel'>
    <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel' type='radio'>
    <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
    <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel' type='radio'>
    <div class='carousel__controls'>
      <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2' style="font-size: 2em; padding-bottom: 10px;">
       &raquo;
      </label>
    </div>
    <div class='carousel__controls'>
      <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1' style="font-size: 2em; padding-bottom: 10px;">
        &laquo;
      </label>
      <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-3' style="font-size: 2em; padding-bottom: 10px;">
       &raquo;
      </label>
    </div>
    <div class='carousel__controls'>
      <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-2' style="font-size: 2em; padding-bottom: 10px;">
        &laquo;
      </label>
    </div>
    <div class='carousel__screen'>
      <div class='carousel__track'>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
           <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-black-front-602eb03e6ed07_540x.jpg?v=1613672519" style="padding-bottom:50px ; " width="100%" alt="">
          </div>
          <a href="https://developer-shop.com/"><h5 class="hoverme" style="padding-top: 320px; color: rgb(5, 5, 5); position: absolute; left: 30%; font-size: large;">"ANGULAR" Sweatshirt <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></u></h5></a>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-navy-front-602e994035d87_540x.jpg?v=1613666632" style="padding-bottom:50px ; "  width="100%" alt="">    
          </div>
          <h5 class="hoverme" style="padding-top: 320px; color: rgb(3, 3, 3); position: absolute; left: 56.5%; font-size: large;">"REACT" Sweatshirt <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></u></h5>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-indigo-blue-front-602e9c306de44_540x.jpg?v=1613667390" style="padding-bottom:50px ; "  width="100%" alt="">
          </div>
          <h5 class="hoverme" style="padding-top: 320px; color: rgb(5, 5, 5); position: absolute; left: 81%; font-size: large;">"DOCKER" Sweatshirt <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></u></h5>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-sport-grey-front-602e9b08620f4_360x.jpg?v=1613667087" style="padding-bottom:50px ; "  width="100%" alt="">
          </div>
          <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 4.5%; font-size: large;">"JAVASCRIPT" Sweatshirt <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></u></h5>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-maroon-front-602fa986e631a_540x.jpg?v=1613736333" style="padding-bottom:50px ; "  width="100%" alt="">
          </div>
          <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 104%; font-size: large;">&nbsp;"SUDO&nbsp;BRING"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-dark-heather-front-602fa9eb71f26_360x.jpg?v=1613736435" style="padding-bottom:50px ; "  width="100%" alt="">
          </div>
          <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 129.5%; font-size: large;">&nbsp;"SUDO&nbsp;GET"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-sport-grey-front-602e9e02655ef_360x.jpg?v=1613667850" style="padding-bottom:50px ; "  width="100%" alt="">
          </div>
          <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 151.5%; font-size: large;">&nbsp;"INTERNET&nbsp;EXPLORER"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-white-front-602e9edb2c35d_360x.jpg?v=1613668067" style="padding-bottom:50px ; "  width="100%" alt="">
          </div>
          <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 182%; font-size: large;">&nbsp;"VUE"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-black-front-602ea0a869156_360x.jpg?v=1613668534" style="padding-bottom:50px ; "  width="100%" alt="">
          </div>
          <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 203%; font-size: large;">&nbsp;"CODE-&nbsp;BREAKER"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-dark-heather-front-602e99e27ebeb_360x.jpg?v=1613666795" style="padding-bottom:50px ; "  width="100%" alt="">
          </div>
          <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 228%; font-size: large;">&nbsp;"GET&nbsp;(SH)IT&nbsp;DONE"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-indigo-blue-front-602e953a28a9c_360x.jpg?v=1613665605" style="padding-bottom:50px ; "  width="100%" alt="">
          </div>
          <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 254.5%; font-size: large;">&nbsp;"DEVELOPER"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-white-front-602eb0ec82842_360x.jpg?v=1613672694" style="padding-bottom:50px ; "  width="100%" alt="">
          </div>
          <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 280%; font-size: large;">&nbsp;"PYTHON"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
        </div>
      </div>
    </div>
    <a routerLink="sweat-shirt" class="btn"><span>View all</span></a>
  </div>
</div>

<!-- PRODUCT-SLIDER 2 -->
<div class='demo-container2'>
  <h3 id="popular-hoodies">Popular Hoodies</h3>
        <div class='carousel2'>
          <input checked='checked' class='carousel__activator2' id='carousel-slide-activator2-1' name='carousel2' type='radio'>
          <input class='carousel__activator2' id='carousel-slide-activator2-2' name='carousel2' type='radio'>
          <input class='carousel__activator2' id='carousel-slide-activator2-3' name='carousel2' type='radio'>
          <div class='carousel__controls2'>
            <label class='carousel__control2 carousel__control2--forward' for='carousel-slide-activator2-2' style="font-size: 2em; padding-bottom: 10px;">
               &raquo;
            </label>
          </div>
          <div class='carousel__controls2'>
            <label class='carousel__control2 carousel__control2--backward' for='carousel-slide-activator2-1' style="font-size: 2em; padding-bottom: 10px;">
              &laquo;
            </label>
            <label class='carousel__control2 carousel__control2--forward' for='carousel-slide-activator2-3' style="font-size: 2em; padding-bottom: 10px;">
               &raquo;
            </label>
          </div>
          <div class='carousel__controls2'>
            <label class='carousel__control2 carousel__control2--backward' for='carousel-slide-activator2-2' style="font-size: 2em; padding-bottom: 10px;">
              &laquo;
            </label>
          </div>
          <div class='carousel__screen2'>
            <div class='carousel__track2'>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-black-60094287c0f5c_360x.jpg?v=1611219619" style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(4, 4, 5); position: absolute; left: 6%; font-size: large; font-weight: 550;">"CUSTOM" Hoodie <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></u></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-black-600415851cf17_360x.jpg?v=1610880397"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(5, 5, 5); position: absolute; left: 30%; font-size: large; font-weight: 550;">"JAVASCRIPT" Hoodie <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></u></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-navy-front-602eea24b0c0e_360x.jpg?v=1613687342"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(3, 3, 3); position: absolute; left: 56%; font-size: large; font-weight: 550;">"ANGULAR" Hoodie <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></u></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-irish-green-front-602eedf681259_360x.jpg?v=1613688321"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(5, 5, 5); position: absolute; left: 79%; font-size: large; font-weight: 550;">"CODE-BREAKER" Hoodie <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></u></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel2__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-white-60042bc230329_360x.jpg?v=1611521646"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(5, 5, 5); position: absolute; left: 106%; font-size: large; font-weight: 550">&nbsp;"DOCKER"&nbsp;Hoodie <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></U></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-sport-grey-6004181f40c67_360x.jpg?v=1613683547"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(5, 5, 5); position: absolute; left: 127.5%; font-size: large; font-weight: 550;">&nbsp;"IT'S&nbsp;A&nbsp;FEATURE"&nbsp;&nbsp;Hoodie <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></U></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-indigo-blue-front-602eeada74bb2_360x.jpg?v=1613687526"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(5, 5, 5); position: absolute; left: 156.5%; font-size: large; font-weight: 550;">&nbsp;"REACT"&nbsp;&nbsp;Hoodie <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></U></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-sport-grey-front-602eeb72875a3_360x.jpg?v=1613687675"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(5, 5, 5); position: absolute; left: 181.5%; font-size: large; font-weight: 550; ">&nbsp;"VUE"&nbsp;&nbsp;Hoodie <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></U></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-white-front-602eeca4b9085_360x.jpg?v=1613687982"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(5, 5, 5); position: absolute; left: 203%; font-size: large;font-weight: 550; ">&nbsp;"GET&nbsp;(SH)IT"&nbsp;DONE&nbsp;Hoodie<br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></U></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-dark-heather-front-60315a7fc1dfe_360x.jpg?v=1613847175"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(5, 5, 5); position: absolute; left: 228%; font-size: large; font-weight: 550;">&nbsp;"SUDO&nbsp;BRING&nbsp;ME"&nbsp;&nbsp;Hoodie <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></U></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-irish-green-front-60315ae0e0474_360x.jpg?v=1613847272"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 340px; color: rgb(5, 5, 5); position: absolute; left: 254%; font-size: large; font-weight: 550;">&nbsp;"SUDO&nbsp;GET"&nbsp;ME"&nbsp;Hoodie<br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></U></h5>
                </div>
              </div>
              <div class='carousel__item2 carousel__item2--mobile-in-1 carousel__item2--tablet-in-2 carousel__item2--desktop-in-4'>
                <div class='demo-content2'>
                  <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-white-front-60368bf061393_360x.jpg?v=1614187512"  style="padding-bottom: 50px;" width="100%" alt="">
                  <h5 class="hoverme2" style="padding-top: 325px; color: rgb(5, 5, 5); position: absolute; left: 278.5%; font-size: large; font-weight: 550;">&nbsp;"FRONTEND&nbsp;DEVELOPER"&nbsp;<br>&nbsp;&nbsp;Hoodie<br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;899.00</p></U></h5>
                </div>
              </div>
            </div>
          </div>
          <a routerLink="hoodies" class="btn"><span>View all</span></a>
        </div>
      </div>
      <!-- Mug Secription -->
      <section id="mug-collection">
        <div class="mug-container">
          <div class="mug-content">
            <h4 class="mug-title" style="color: rgb(105, 100, 100); font-size: large;">IN STYLE
              <h1 class="mug-title" style="color: white">MUGS</h1></h4>
            <p class="mug-description">Add warmth and fun to your cup of coffee or your late night chocolate.
               It is also a superb gift that will surely delight your friends and family with its catchy phrases and design.</p>
               <h3  class="mug-title" style="color: gray; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Explore the new Collections <span class="mug-title" style="color: #6754e2;">⇾</span></h3>
            </div>
          <div class="mug-media">
            <div class="mug-media-bg"> <img class="mug-image" src="https://cdn.shopify.com/s/files/1/0528/4148/0360/files/DEV_-_Winter_Collection_1_720x.png?v=1617554082" alt="sc-image" /> </div>
          </div>
        </div>
        <a routerLink="mugs" class="btn" style="width: 185px; margin-bottom: 80px;"><span>View collection</span></a>
      </section>

      <!-- Product Cards List -->
      <h5 id="most-popular">SHOP PRODUCTS</h5>
<div class="container1">
  <div class="grid">
    <a routerLink="tshirts"><div class="card-container">
      <p class="details-btn">T-Shirts</p>
      <div class="card-image-container">
         <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-premium-t-shirt-black-front-602c239613b49_1800x1800.jpg?v=1613505459" alt="" width="100%"/>
      </div> 
    </div></a>

    <a routerLink="hoodies"><div class="card-container">
      <p class="details-btn">Hoodies</p>
      <div class="card-image-container">
         <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-heavy-blend-hoodie-navy-front-602eea24b167b_540x.jpg?v=1613687345" alt="" width="100%"/>
      </div>  
    </div></a>

    <a routerLink="sweat-shirt"><div class="card-container"> 
      <p class="details-btn">Sweatshirts</p>
      <div class="card-image-container">
         <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-black-front-602eb03e6ef53_1800x1800.jpg?v=1613672520" alt="" width="100%"/>
      </div>
    </div></a>

    <a routerLink="face-masks"><div class="card-container">
      <p class="details-btn">Face Masks</p>
      <div class="card-image-container">
         <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/all-over-print-premium-face-mask-black-600439c1899aa_360x.jpg?v=1610889669" alt="" width="100%"/>
      </div>
    </div></a>
    
    <a routerLink="stickers"><div class="card-container">
      <p class="details-btn">Stickers</p>
      <div class="card-image-container">
         <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/kiss-cut-stickers-5.5x5.5-60044613b870a_540x.jpg?v=1610892824" alt="" width="100%"/>
      </div>
    </div></a>
    
    <a routerLink="bag-packs"><div class="card-container">
      <p class="details-btn">Back Packs</p>
      <div class="card-image-container">
         <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/large-eco-tote-oyster-60044407548c1_1800x1800.jpg?v=1610892301" alt="" width="100%"/>
      </div>
    </div></a>

    <a routerLink="mugs"><div class="card-container">
        <p class="details-btn">Mugs</p>
        <div class="card-image-container">
           <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/white-ceramic-mug-with-color-inside-blue-11oz-right-602ed292254c2_1800x1800.jpg?v=1613681311" alt="" width="100%"/>
        </div>
      </div></a>

      <a routerLink="wall-arts"><div class="card-container">
        <p class="details-btn">Wall arts</p>
        <div class="card-image-container">
           <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/enhanced-matte-paper-framed-poster-_in_-black-16x16-person-602c68e915661_1800x1800.jpg?v=1613523182" alt=""/>
        </div>
      </div></a>

      <a routerLink="baby-clothing"><div class="card-container">
        <p class="details-btn">Baby Clothing</p>
        <div class="card-image-container">
           <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/baby-short-sleeve-one-piece-dark-grey-heather-front-601167ff3f3a7_1800x1800.jpg?v=1611753478" alt=""/>
        </div>
      </div></a>
  </div>
</div>

<!-- New -Arrivals -->
<h5 id="most-popular">New Arrivals</h5>
<div class="container">
  <div class="product-container">
    <div class="product-images">
      <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-indigo-blue-front-602e953a28a9c_1800x1800.jpg?v=1613665605" alt="" width="100%">
      <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-indigo-blue-front-602e953a297c9_1800x1800.jpg?v=1613665607" alt="" width="100%">
    </div>
    <div class="product-see-details">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      <a routerLink="sweat-shirt" style="text-decoration: none; color: black;"><span>&nbsp;MORE DETAILS</span></a>
    </div>
    <span class="product-new">NEW</span>
  </div>

  <div class="product-container">
    <div class="product-images">
      <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-light-pink-front-6031578ba906c_1800x1800.jpg?v=1613846420" alt="" width="100%">
      <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-light-pink-front-6031578ba9927_1800x1800.jpg?v=1613846422" alt="" width="100%">
    </div>
    <div class="product-see-details">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      <a routerLink="sweat-shirt" style="text-decoration: none; color: black;"><span>&nbsp;MORE DETAILS</span></a>
    </div>
    <span class="product-new">NEW</span>
  </div>

  <div class="product-container">
    <div class="product-images">
      <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/all-over-print-premium-face-mask-black-600448cc5284d_1800x1800.jpg?v=1610893521" alt=""  width="100%">
      <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/all-over-print-premium-face-mask-black-600448cc528f5_1800x1800.jpg?v=1610893522" alt="" width="100%">
    </div>
    <div class="product-see-details">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      <a routerLink="face-masks" style="text-decoration: none; color: black;"><span>&nbsp;MORE DETAILS</span></a>
    </div>
    <span class="product-new">NEW</span>
  </div>

  <div class="product-container">
    <div class="product-images">
      <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/retro-trucker-hat-navy-white-front-60eca428cac53_1800x1800.jpg?v=1626121261" alt="" width="100%">
      <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/retro-trucker-hat-navy-white-front-60eca428cae9f_1800x1800.jpg?v=1626121263" alt="" width="100%">
    </div>
    <div class="product-see-details">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      <a routerLink="bag-packs" style="text-decoration: none; color: black;"><span>&nbsp;MORE DETAILS</span></a>
    </div>
    <span class="product-new">NEW</span>
  </div>
</div><br><br><br>


<!-- Mask-slider -->
<div class="card">
  <!-- Photo 1 -->
  <div class="card_part card_part-one"><img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/all-over-print-premium-face-mask-black-600439c1899aa_1800x1800.jpg?v=1610889669" alt="" width="100%"></div>

  <!-- Photo 2 -->
  <div class="card_part card_part-two"><img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/all-over-print-premium-face-mask-black-6004488d87fff_1800x1800.jpg?v=1610893458" alt="" width="100%"></div>

  <!-- Photo 3 -->
  <div class="card_part card_part-three"><img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/all-over-print-premium-face-mask-white-6007eec4d8f52_1800x1800.jpg?v=1611132619" alt="" width="100%"></div>

  <!-- Photo 4 -->
  <div class="card_part card_part-four"><img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/all-over-print-premium-face-mask-black-600449809c904_1800x1800.jpg?v=1610893701" alt="" width="100%"></div>
</div><br><br><br><br>

<!-- Mask-Description -->
<div id="mask-about">
  <h4 class="mask-title" style="color: rgb(105, 100, 100); font-size: large; margin-bottom: 20px;">STAY SAFE
    <h1 class="mask-title" style="color: white">FACE MASKS</h1></h4>
  <p class="mask-description" >Our reusable face masks will fit you nicely thanks to their adjustable nose wire and elastic bands. 
    Choose a design that will complement your style, as face masks are becoming the new trend.</p>
     <!-- <h3  class="mug-title" style="color: gray; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Explore the new Collections <span class="mug-title" style="color: #6754e2;">⇾</span></h3> -->
     <a routerLink="face-masks" class="btn" style="width: 140px;  padding: 3px; font-size: large;"><span>Shop This</span></a>
</div><br><br><br><br>
<!-- Last-Banner -->
<div id="last-banner">
 <div id="banner-description">
  <h4 class="mask-title" style="color: rgb(236, 226, 226); font-size: large; margin-bottom: 20px;">SWEATSHIRT
    <h1 class="mask-title" style="color: white">I'LL REFACTOR THAT LATER</h1></h4>
  <p class="mask-description" >A sturdy and warm sweatshirt bound to keep you warm in the colder months. A pre-shrunk,
     classic fit sweater that's made with air-jet spun yarn for a soft feel and reduced pilling.</p>
    <a routerLink="sweat-shirt" class="btn" style="width: 200px;  padding: 3px; font-size: large; margin: 0px; font-size: medium;"><span>GET YOURS NOW</span></a>
 </div>
</div>
</section>